#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
}

td {
  min-width: 120px;
  min-height: 120px;
  border: solid 2px black;
}

.solved {
  color: black
}
.unsolved {
  font-size: large;
}
.frozen {
  background-color: black !important;
  color: white;
}

.justSolved {
  border: solid 2px rgb(234, 240, 234);

}

.block-0-0 {
  background-color: rgb(191, 148, 19);
}

.block-0-1 {
  background-color: rgb(171, 191, 19);
}

.block-0-2 {
  background-color: rgb(227, 102, 20);
}

.block-1-0 {
  background-color: rgb(191, 19, 42);
}


.block-1-1 {
  background-color: rgb(19, 191, 134);
}

.block-1-2 {
  background-color: rgb(19, 56, 191);
}

.block-2-2 {
  background-color: rgb(191, 19, 137);
}


.block-2-0 {
  background-color: rgb(19, 191, 71);
}

.block-2-1 {
  background-color: rgb(62, 127, 232);
}
.block-2-3 {
  background-color: rgb(19, 191, 134);
}